@import "../variables.scss";

dialog {
	width: min(472px, 99vw);
	min-height: 400px;
	height: fit-content;

	background: $muted-background;

	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	// transform: translateY(50%) translateX(50%);

	&[open] {
		animation: slideFadeIn 0.2s ease-out forwards;
	}
	&.closing {
		animation: slideFadeOut 0.2s ease-out forwards;
	}

	border: none;
	border-radius: 1rem;
	padding: 1rem;

	.header {
		width: 100%;

		display: flex;
		align-items: start;
		justify-content: space-between;

		.header__left {
			display: flex;
			align-items: center;
			gap: 1rem;

			h4 {
				font-size: 1.5rem;
				font-weight: 700;
				color: $foreground;
			}
		}

		> button {
			background: none;
			border: none;
			cursor: pointer;
			transition: all 0.2s;
			&:hover {
				rotate: 90deg;
			}
		}
	}

	.content {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		gap: 20px;
		.banner {
			width: 100%;
			min-height: 174px;
			position: relative;

			img {
				position: relative;
			}
		}
		.description {
			font-weight: 500;
			color: $foreground;
			.subtitle {
				font-weight: 600;
			}
			.text {
				font-size: 12px;
				color: rgba($foreground, 0.5);
				a {
					color: $link;
					text-decoration: underline;
					text-underline-offset: 0.2rem;
				}
				img {
					position: relative;
					translate: 0 25%;
				}
			}
		}
		> a > button {
			height: fit-content;
			width: 100%;
			padding: 1rem 2rem;

			background-color: $accent;
			color: $foreground;

			border: none;

			border-radius: 0.5rem;
			font-size: 1rem;
			font-weight: 500;
			border: 1px solid rgba($foreground, 0.5);
			transition: all 0.2s;
			cursor: pointer;
			&:hover {
				color: $accent;
				background-color: $foreground;
			}
		}
	}
}

@starting-style {
	dialog[open] {
		opacity: 0;
		transform: scaleY(0);
	}
}

@starting-style {
	dialog[open]::backdrop {
		background-color: rgb(0 0 0 / 0%);
	}
}

@keyframes slideFadeIn {
	0% {
		opacity: 0;
		transform: translate(-50%, 50%);
	}
	100% {
		opacity: 1;
		transform: translate(-50%, -50%);
	}
}

@keyframes slideFadeOut {
	0% {
		opacity: 1;
		transform: translate(-50%, -50%);
	}
	100% {
		opacity: 0;
		transform: translate(-50%, -100%);
	}
}

@media (max-width: 600px) {
	body dialog[open] {
		overflow-y: auto;
	}
	dialog {
		box-sizing: border-box;
		width: 100dvw;
		max-width: none;
		// height: 500px;
		top: auto;
		bottom: 0;
		left: 0;
		transform: translateY(100%);
		border-radius: 0;
		padding: 1rem;

		&[open] {
			animation: slideUpIn 0.3s ease-out forwards;
		}
		&.closing {
			animation: slideDownOut 0.3s ease-out forwards;
		}
	}
}

@keyframes slideUpIn {
	0% {
		transform: translateY(100%);
	}
	100% {
		transform: translateY(0);
	}
}

@keyframes slideDownOut {
	0% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(100%);
	}
}
